{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="projects">
        <div class="container">
          <h3>{{ .Site.Data.projects.name }}</h3>
          <div class="panel panel-default">
            <div class="panel-body">
            {{ range $i, $el := .Site.Data.projects.source }}
              <div>
		<h3><i class="{{ .icon }}"></i>&nbsp;&nbsp;
	          <strong><a href="{{ $el.website }}">{{ $el.name }}</a></strong> ({{ $el.role }})
		</h3>
		{{ $el.description | markdownify}}
              </div>
              {{ end }}
              </div>
            </div>
          </div>
	  {{ partial "social" . }}
        </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
