{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="talks">
        <div class="container">
          <h3>{{ .Site.Data.talks.name }}</h3>
          <div class="panel panel-default">
            <div class="panel-body">
            {{ range $i, $el := .Site.Data.talks.talk }}
              <div>
                <h3>
		  <strong>{{ $el.title }}</strong> ({{ $el.conference }} {{ $el.conf_year}})
                </h3>
		<i>
		  {{ $el.date }}
		  {{ with $el.co_speaker }}
		    (Presented with {{ $el.co_speaker }})
		  {{ end }}
		  {{ with $el.talk_id }}
		    - Session {{ with $el.catalog_link }}
		        <a href="{{ $el.catalog_link }}">{{ $el.talk_id }}</a>
		      {{ else}}
		        {{ $el.talk_id }}
		      {{ end }}
		  {{ else }} 
		    {{ with $el.catalog_link }}
                      - <a href="{{ $el.catalog_link }}">View in catalog</a>
		    {{ end }}
		  {{ end }}
		</i>
		<div>{{ $el.abstract | markdownify }}</div>
		<ul>
		{{ with $el.youtube }}
		  <li><a href="{{ $el.youtube }}"><i class="fa-brands fa-youtube"></i>&nbsp;&nbsp;View recording on YouTube</a></li>
		{{ end }}
		{{ with $el.slideshare }}
		  <li><a href="{{ $el.slideshare }}"><i class="fa-brands fa-slideshare"></i>&nbsp;&nbsp;View slides on Slideshare</a></li>
		{{ end }}
		{{ with $el.speakerdeck }}
		  <li><a href="{{ $el.speakerdeck }}"><i class="fa-regular fa-file-powerpoint"></i>&nbsp;&nbsp;View slides on SpeakerDeck</a></li>
		{{ end}}
		  {{ range $j, $link := $el.link }}
		  <li><a href="{{ $link.href }}">{{ with $link.icon }}<i class="{{ $link.icon }}"></i>&nbsp;&nbsp;{{ end }}{{ $link.title }}</a></li>
		  {{ end}}
		</ul>
              </div>
            {{ end }}
            </div>
          </div>
        </div>
        {{ partial "social" . }}
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
