{{ partial "head" . }}
  <body>
    <div id="wrap">
      {{ partial "header" . }}
      <section id="talks">
        <div class="container">
          <h3>{{ .Site.Data.talks.name }}</h3>
          <div class="panel panel-default">
            <div class="panel-body">
            {{ range $i, $el := .Site.Data.talks.talk }}
              <div>
                <h3>
		  <strong>{{ $el.title }}</strong> ({{ $el.conference }} {{ $el.conf_year}})
                </h3>
		<i>
		  {{ $el.date }}
		  {{ with $el.talk_id }}
		    - {{ with $el.catalog_link }}
		        <a href="{{ $el.catalog_link }}">{{ $el.talk_id }}</a>
		      {{ else}}
		        {{ $el.talk_id }}
		      {{ end }}
		  {{ end }}
		</i>
		{{ with $el.co_speaker }}
		  <i>(Presented with {{ $el.co_speaker }})</i>
		{{ end }}
		<div>{{ $el.abstract | markdownify }}</div>
		<ul>
		{{ with $el.youtube }}
		  <li><a href="{{ $el.youtube }}"><i class="fa fa-youtube"></i>&nbsp;&nbsp;View recording on YouTube</a></li>
		{{ end }}
		{{ with $el.slideshare }}
		  <li><a href="{{ $el.slideshare }}"><i class="fa fa-slideshare"></i>&nbsp;&nbsp;View slides on Slideshare</a></li>
		{{ end }}
		{{ with $el.speakerdeck }}
		  <li><a href="{{ $el.speakerdeck }}"><i class="fa fa-file-powerpoint-o"></i>&nbsp;&nbsp;View slides on SpeakerDeck</a></li>
		{{ end}}
		</ul>
              </div>
            {{ end }}
            </div>
          </div>
        </div>
        {{ partial "social" . }}
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
